@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
* {
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

.loginpage {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #dee7ee;
}

.login-div {
    margin-top: -60px;
    width: 430px;
    height: 500px;
    padding: 60px 35px 35px 35px;
    border-radius: 100px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.logo {

    background-image: url("./resto.png");
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin:0 auto;
    box-shadow: 1px 1px 1px 1px  #0080aa , 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 10px #0080aa;
}

.title {
    text-align: center;
    font-size: 15px;
    padding-top: 15px;
    letter-spacing: 3.0px;
    color:#0080aa;
}

.fields {
    margin-top: -60px;
    width: 100%;
    padding: 75px 5px 5px 5px;
}

.fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;

    padding: 15px 10px 20px 5px;
}

.username, .password {
    margin-bottom: 20px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.fields svg {
    height: 22px;
    margin: 0px 10px -3px 25px;
}

.login-button {
    outline: none;
    border:none;
    cursor:pointer;
    width:100%;
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1,
    -3px -3px 8px #fff;
    transition: all 0.5s;
}
.login-button:hover{
    background-color: #50e5b9;
}
.login-button:active{
    border-color: #88ef9c;
}
